.aboutSection {
    padding: 4.5rem 0;
    background: #000;
    position: relative;
    z-index: 10;
    backdrop-filter: blur(20px);
    margin: 0;
}

.sectionContainer {
    /* max-width: 1400px; */
    margin: 0 auto;
    padding: 0 10rem;
}

.sectionHeaderAbout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ffffff;
}

.titleWithIcon {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sectionIcon {
    width: 24px;
    height: 24px;
    color: #ffffff;
}

.sectionTitle {
    font-size: 2rem;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
}

.aboutContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: start;
}

.aboutTextLeft p {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
    color: #ffffff;
}

.aboutTextRight p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #ffffff;
    margin-bottom: 2rem;
}

.underlined {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

@media (max-width: 1024px) {
    .aboutContent {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .sectionContainer {
        padding: 0 2rem;
    }
}

@media (max-width: 768px) {
    .sectionTitle {
        font-size: 1.5rem;
    }

    .aboutTextLeft p {
      font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .sectionTitle {
        font-size: 1.2rem;
    }

    .aboutTextLeft p {
      font-size: 1.5rem;
    }
}
